{% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="col-sm-10">
  <h3 class="text-info my-5">About Page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ab libero eos
    similique at voluptate corporis commodi aperiam sint eaque doloremque
    quaerat adipisci aliquam vitae, rerum est autem. Odio et saepe eaque ipsa
    quod veniam, quas praesentium laboriosam rerum tempora sequi veritatis non
    nisi incidunt, illo dolor quis ullam exercitationem?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quae
    accusantium, vitae aperiam fugiat exercitationem iste saepe velit debitis
    veniam aliquam. Dicta blanditiis ea libero dolorem suscipit! Aperiam,
    repellat aut laborum omnis illo excepturi asperiores, perspiciatis, nihil
    ducimus quam consectetur optio fugiat repellendus!
  </p>
</div>
{% endblock content %}
